<div class="movie-card" (click)="goToReview()">
  <div class="poster-container">
    <!-- Poster en fond -->
    <img [src]="movie.backdropPath" [alt]="movie.title" class="poster">

    <!-- Logo centré par-dessus -->
<!--    <img [src]="movie.logoPath" [alt]="movie.title + ' logo'" class="movie-logo">-->

    <!-- Badge de note -->
    <div class="rating-overlay">
      <span class="note">{{ movie.reviews[0].note }}</span><span class="bar">/5</span>
    </div>
  </div>

  <div class="movie-info">
    <h3 class="movie-title">{{ movie.title }}</h3>
  </div>
</div>
