<div class="app-container">
  <div class="righted">
    <button (click)="onConnect()" class="btn btn-secondary ">Connecter</button>
  </div>
  <header class="header">
    <div class="header-content" (click)="goHome()">
      <h1 class="title">
        <img src="movie-clap.png" width="50em" alt="Movie Clap Icon">
        Cinémathèque <span class="highlight">Moderne</span>
      </h1>
      <p class="subtitle">Une sélection raffinée des films contemporains les plus remarquables</p>
    </div>
  </header>


  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>
